.content {
    text-align: center;
    color: rgb(200, 200, 200);
    padding: 10px;
}

.content > a {
    text-decoration: underline overline;
    text-decoration-thickness: 5px;
    text-underline-offset: 3px;
}

.content > a:link {
    color: rgb(150, 255, 255);
}

.content > a:visited {
    color: rgb(255, 255, 200);
}

.content > a:hover {
    color: rgb(255, 50, 255);
}

.content > a:active {
    color: rgb(50, 255, 255);
}