#commentsText {
    text-align: center;
    color: rgb(200, 200, 200);
}

#submitCommit{
    margin: 20px;
    justify-content: center;
    align-items: center;
}

#commitForm {
    justify-content: center;
    align-items: center;
    display: grid;
    color: rgb(200, 200, 200);
}

#submit {
    background-color: rgb(50,50,50);
    border-radius: 10px;
    border: solid rgb(200, 200, 200);
    color: rgb(255, 255, 255);
}

#text {
    display: flex;
    margin: 10px;
}

#subComment {
    text-align: center;
    color: rgb(200, 200, 200);
}

#subDiv {
    align-items: center;
    justify-content: center;
    display: grid;
}

#comments {
    word-wrap: break-word;
    color: rgb(200, 200, 200);
}

#LText {
    padding: 5px 0 0 8px;
}

@media only screen and (max-width: 650px) {
    #submit {
        font-size: 100%;
    }
}