html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: rgb(50, 50, 50) url("background.png") repeat;
}

body {
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
    width: 100%;
    background: black;
    padding: 10px;
    color: rgb(200, 200, 200);
}

#navList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    overflow: hidden;
    background-color: darkblue;
    margin: 0;
    padding: 0;
    align-self: center;
}

#navigation {
    margin: 0;
    padding: 0;
}

ul > li {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}
ul > li a {
    display: flex;
    color: deeppink;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 1em;
    text-decoration: none;
}

ul > li a:hover {
    background-color: rgb(50, 50, 100);
}

#content {
    text-align: center;
    color: rgb(200, 200, 200);
}

footer {
    text-align: center;
    color: rgb(150, 150, 150);
}

#submitCommit{
    justify-content: center;
    align-items: center;
}

#commitForm {
    justify-content: center;
    align-items: center;
    display: grid;
    color: rgb(200, 200, 200);
}

#submit {
    background-color: rgb(50,50,50);
    border-radius: 10px;
    border: solid rgb(200, 200, 200);
    color: rgb(255, 255, 255);
}

#text {
    display: flex;
    margin: 10px;
}

#subDiv {
    align-items: center;
    justify-content: center;
    display: grid;
}

#comments {
    word-wrap: break-word;
    color: rgb(200, 200, 200);
}

#LText {
    padding: 5px 0 0 8px;
}

@media only screen and (max-width: 650px) {
    html {
        font-size: 125%;
    }

    #submit {
        width: 125%;
        height: 125%;
        font-size: 125%;
    }

    #navList {
        display: block;
    }
}