.content {
    text-align: center;
    color: rgb(200, 200, 200);
}

.content > p > a > button {
    background-color: rgb(50,50,50);
    border-radius: 15px;
    border: solid rgb(200, 200, 200);
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 650px) {
    #content > p > a > button {
        font-size: 125%;
    }
}