#thisText {
    text-align: center;
    color: rgb(200, 200, 200);
}

#sort {
    text-align: center;
}

#SForm {
    display: inline-block;
    color: rgb(255, 255, 255);
}

#data > li {
    display: inline-block;
    background-color: deeppink;
    vertical-align: top;
}

#sub {
    background-color: rgb(50,50,50);
    border-radius: 15px;
    border: solid rgb(200, 200, 200);
    color: rgb(255, 255, 255);
}

#method {
    background-color: rgb(50,50,50);
    border-radius: 5px;
    border: solid rgb(200, 200, 200);
    color: rgb(255, 255, 255);
}

#method:hover, #sub:hover {
    cursor: pointer;
}

.numsRep {
    width: 4px;
}


@media only screen and (max-width: 650px) {
    #SForm {
        font-size: 75%;
    }

    .numsRep {
        width: 2px;
    }
}